*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 112.5%;
  line-height: 1.78em;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  color: hsla(0, 0%, 0%, 0.9);
  font-family: Merriweather, Georgia, serif;
  font-weight: 300;
  word-wrap: break-word;
}
