{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>{% if page.doc-title %}{{ page.doc-title }}{% else %}{{ page.title }}{% endif %}</title>
  <meta name="author" content="{{ site.author }}" />

  {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:300 }}" />
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}" />{% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
  <link rel="canonical" href="{{ canonical }}" />
  <link href="{{ root_url }}/favicon.ico" rel="icon" />

  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/bootstrap-override.css" rel="stylesheet" />
  <link href="/css/bootstrap-custom-utils.css" rel="stylesheet" />

  <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400italic,400,600|Fjalla+One" rel="stylesheet" />

</head>
<body>
<div class="bg-white-dark padding-small-top"></div>
  {{ content | expand_urls: root_url }}
  <footer role="contentinfo"></footer>
</body>
</html>
